{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}Ordira{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}Ordira - Manage your online shop{% endblock %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'shell/css/shell.css' %}">

    {% block extra_css %}{% endblock %}

</head>

<body>


    <!-- =========================
     NAVBAR
========================== -->

    {% include "components/navbar.html" %}
    <!-- =========================
     APPLICATION LAYOUT
========================== -->

    <div class="main-wrapper">

        {% include "components/sidebar.html" %}

        <main class="main-content">

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="message message-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            {% block content %}
            {% endblock %}

        </main>

    </div>


</body>

</html>